<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de CSS Flexbox - Plantilla C</title>
    <link rel="stylesheet" href="../styles/taller-c.css" type="text/css"/>
</head>
<!-- 100% de la anchura y altura de la pantalla -->
<body class="body-container">
    <!-- 400px de anchura y 100px de altura -->
    <header class="header">
        <!-- 120px de anchura y 60px de altura -->
        <div class="header-box"></div>
        <!-- 120px de anchura y 60px de altura -->
        <div class="header-box"></div>
        <!-- 120px de anchura y 60px de altura -->
        <div class="header-box"></div>
    </header>
    <!-- 400px de anchura y 400px de altura -->
    <main class="main-container">
        <!-- 220px de anchura y 380px de altura -->
        <section class="left-section">
            <!-- 100px de anchura y 100px de altura -->
            <div class="section-box"></div>
            <!-- 100px de anchura y 100px de altura -->
            <div class="section-box"></div>
            <!-- 100px de anchura y 100px de altura -->
            <div class="section-box"></div>
        </section>
        <!-- 120px de anchura y 380px de altura -->
        <section class="right-section"></section>
    </main>
    <!-- 400px de anchura y 100px de altura -->
    <footer class="footer-container">
        <!-- 120px de anchura y 80px de altura -->
        <div class="footer-box"></div>
        <!-- 120px de anchura y 80px de altura -->
        <div class="footer-box"></div>
        <!-- 120px de anchura y 80px de altura -->
        <div class="footer-box"></div>
    </footer>
</body>
</html>