<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de CSS Flexbox - Plantilla B</title>
    <link rel="stylesheet" href="../styles/taller-b.css" type="text/css"/>
</head>
<!-- 100% de la anchura y altura de la pantalla -->
<body class="body-container">
    <!-- 400px de anchura y 100px de altura -->
    <header class="header">
        <!-- 120px de anchura y 80px de altura -->
        <div class="header-box"></div>
        <!-- 120px de anchura y 80px de altura -->
        <div class="header-box"></div>
        <!-- 120px de anchura y 80px de altura -->
        <div class="header-box"></div>
    </header>
    <!-- 400px de anchura y 400px de altura -->
    <main class="main-container">
        <!-- 380px de anchura y 150px de altura -->
        <section class="top-section">
            <!-- 150px de anchura y 130px de altura -->
            <div class="section-box"></div>
            <!-- 150px de anchura y 130px de altura -->
            <div class="section-box"></div>
        </section>
        <!-- 380px de anchura y 200px de altura -->
        <section class="bottom-section"></section>
    </main>
    <!-- 400px de anchura y 100px de altura -->
    <footer class="footer-container"></footer>
</body>
</html>